bdoy{
    font-family: 'Poppins', sans-serif;
}

h2{
    font-size: 30px;
    font-weight: 300;
}
h1{
    font-size: 40px;
    font-weight: 800;
}
h3{
    font-size: 25px;
    
}
h4{
    font-size: 14px;
    font-weight: 300;
    
}
p{
    color: dimgray;
    

}
section{
    height: 500px;
    margin-bottom: 200px;
}

/* class */
.name-highlight{
    color: #ec4f8f;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#ec4f8f,#ed4b72);
    padding: 10px 20px;
    color: white;
    border-radius: 7px;
    font-weight: 300;
    
    
}

.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}

.half-width img{
    width: 80%;
    padding-top: 20px;

}

.margpad{
    margin-top: 200px;
    
}

.intro{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.one-third{
    width: 30%;
    margin-left: 2%;
    padding-left: 1%;
    float: left;

}
.one-third img{
    width: 100%;
}

.latest-work{
    margin-top: 100px;
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.text-center{
    text-align: center;
}
.div-center{
    width: 40%;
    text-align: center;
    background-image: linear-gradient(90deg,#ec4f8f,#ed4b72);
    padding: 10px 20px;
    color: white;
    border-radius: 7px;
    margin-left: 30%;
    margin-right: 30%;
}

.client{
    margin-top: 100px;
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}